{% load static %}

<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="Keywords" content="biuro turystyczne monika, btmonika, bt monika, szczecinek, monika, autokary,
      wynajem autokarów, turystyka, polska turystyka, prawo jazdy, kurs, nauka jazdy, przewóz osób, przewozy, transport,
      biuro podrozy, wycieczki szkolne, oferty turystyczne, wyjazdy firmowe" />
	<meta name="description" content= "Wynajem autokarów, organizacja wyjazdów, polska turystyka, wycieczki szkolne, przewóz osób." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sylwester Karpiński">
    <link href='https://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b5d1b39687.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        {% block title %}
           {{ page_title|default:"Bez tytułu" }}
        {% endblock title %}
    </title>
    <link href="{% static 'firma.css' %}" rel="stylesheet" type="text/css">
</head>

<body onload="startTime()">

   <div class="header_main">

        <h2 style="color: white; ">
            <a href="{% url 'jazda:index' %}" style="color: white; margin-right: 5px;">Biuro Turystyczne "MONiKA"</a>
            <i class="fa-solid fa-bus-simple fa-lg" style="color: white"></i>
            <span style="font-family: Bilbo; text-shadow: 2px 2px 4px white; margin-left: 8px; ">jeździmy dla WAS od 1991 roku</span>
        </h2>

   </div>

   <div class="topnav" id="myTopnav">
      <a href="{% url 'jazda:index' %}" class="active">Start</a>
      <a href="{% url 'jazda:przystanek' 1 0 %}">Skotniki</a>

      <div class="dropdown">
        <button class="dropbtn" onclick="dropFunction1()">Szczecinek
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown1">
           <a href="{% url 'jazda:szczecinek' %}">Czarne</a>
           <a href="{% url 'jazda:skotniki' %}">Skotniki</a>
        </div>
      </div>

       <div class="dropdown">
        <button class="dropbtn" onclick="dropFunction2()">Gwda
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown2">
           <a href="{% url 'jazda:gwda' %}">Czarne</a>
           <a href="{% url 'jazda:gwdapowrot' %}">Szczecinek</a>
        </div>
       </div>

      <a href="{% url 'jazda:czarne' %}">Czarne</a>
     {# <a href="{% url 'jazda:soboty' %}">Sobota</a> #}



      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>

   </div>

        <div class="column side">

        </div>


        <div class="column middle">
             {% block content %}

             {% endblock content %}
        </div>



        <div class="column side">

        </div>


        <div class="footer">

            <div class="row">
                 <div class="column" style="width: 50%;">
                     <a href="{% url 'jazda:index' %}">
                        <img src="{% static 'logoBT.png' %}" alt="autobus" class="responsive"/>
                     </a>
                 </div>

                 <div class="column" style="width: 50%;">

                   <ul class="fa-ul" style="margin: 3em">
                     <li>
                         <span class="fa-li">
                                <i class="fa-solid fa-phone fa-lg fa-pull-left" style="color: #026b4e;"></i>
                         </span>
                         <span style="color: #026b4e; font-weight: bold; float: left; font-size: 14px">
                                605 551 105
                         </span>
                     </li>
                        <br><br>
                     <li>
                         <span class="fa-li">
                                <i class="fa-solid fa-location-dot fa-lg fa-pull-left" style="color: #026b4e;"></i>
                         </span>
                         <span style="color: #026b4e; font-weight: bold; float: left; font-size: 14px">
                               78-400 SZCZECINEK SKOTNIKI 18
                         </span>
                     </li>
                   </ul>

                 </div>
            </div>
            <div class="row" style="background-color: #4a3079; padding: 18px;">



                <div class="columnindex">

                   <div class="row" style="border-left: 1px solid white;">
                   <p style="float: left;">
                       <a href="{% url 'jazda:przystanki'  %}" style="color: white; margin-left: 8px;">Przystanki</a>
                   </p>
                   </div>

                    <div class="row" style="border-left: 1px solid white;">
                   <p style="float: left;">
                       <a href="{% url 'jazda:soboty'  %}" style="color: white; margin-left: 8px;">Sobota</a>
                   </p>
                   </div>

                </div>

                <div class="columnindex">

                    <div class="row" style="border-left: 1px solid white;">
                        <p style="float: left;">
                            <a href="{% url 'jazda:ulgi'  %}" style="color: white; margin-left: 8px;">Ulgi na przejazdy</a>
                        </p>
                    </div>

                    <div class="row"  style="border-left: 1px solid white;">
                        <p style="float: left;">
                          <a href="{% url 'jazda:bilety'  %}" style="color: white; margin-left: 8px;">Bilety miesieczne</a>
                        </p>
                    </div>

                </div>

                <div class="columnindex">
                   <div class="row"  style="border-left: 1px solid white;">
                        <p style="float: left;">
                            <a href="{% url 'jazda:galeria'  %}" style="color: white; margin-left: 8px;">Nasze autobusy</a>
                        </p>
                   </div>
                   <div class="row"  style="border-left: 1px solid white;">
                        <p style="float: left;">
                            <a href="{% url 'jazda:oferta'  %}" style="color: white; margin-left: 8px;">Oferta</a>
                        </p>
                   </div>
                </div>

                <div class="columnindex">

                 <div class="row"  style="color: white; border-left: 1px solid white;">
                   <p style="float: left;  margin-left: 8px;">Dokumenty do pobrania:</p>
                    <br><br>
                   <p style="margin-left: 20px;">
                     <i class="fa-solid fa-file-pdf fa-lg fa-pull-left"></i>
                        <a href="{% url 'jazda:downloadfile' filename='Formularz.pdf' %}"
                           style="float: left; color: white;">
                           Formularz eKarty
                        </a>
                   </p>
                   <br>
                   <p style="margin-left: 20px; color: white;">
                       <i class="fa-solid fa-file-pdf fa-lg fa-pull-left"></i>
                         <a href="{% url 'jazda:downloadfile' filename='RegulaminKarty.pdf' %}"
                           style="float: left;padding-bottom: 15px; color: white;">
                           Regulamin korzystania z eKarty
                         </a>
                   </p>
                  </div>
                </div>

                <div class="columnindex">

                        <img src="{% static 'plansza.jpg' %}" alt="pfr" class="responsive"  style="float: left;"/>

                 </div>

            </div>
            <div class="row" style="background-color: #026b4e; color: white; padding: 30px; font-size: 14px;">
              <p>strona w budowie wer. 0.9</p>
            </div>

        </div>



<script>
// Set the date we're counting down to
var countDownDate = new Date("Aug 31, 2022 23:59:59").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);


function startTime() {
  const today = new Date();
  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
  setTimeout(startTime, 1000);
}

function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}

function dropFunction1() {
  document.getElementById("myDropdown1").classList.toggle("show");
}
function dropFunction2() {
  document.getElementById("myDropdown2").classList.toggle("show");
}
function dropFunction3() {
  document.getElementById("myDropdown3").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
  var dropdowns = document.getElementsByClassName("dropdown-content");
  var i;
  for (i = 0; i < dropdowns.length; i++){
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show')) {
      openDropdown.classList.remove('show');
      }
    }
  }
}

//Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}


//window.onscroll = function() {xFunction()};

var x = document.getElementById("myTopnav");
var sticky = x.offsetTop;

function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

function xFunction() {
  if (window.pageYOffset >= sticky) {
    x.classList.add("sticky")
  } else {
    x.classList.remove("sticky");
  }
}

var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
var radius = canvas.height / 2;
ctx.translate(radius, radius);
radius = radius * 0.90
setInterval(drawClock, 1000);

function drawClock() {
  drawFace(ctx, radius);
  drawNumbers(ctx, radius);
  drawTime(ctx, radius);
}

function drawFace(ctx, radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  grad = ctx.createRadialGradient(0,0,radius*0.95, 0,0,radius*1.05);
  grad.addColorStop(0, '#026b4e');
  grad.addColorStop(0.5, 'white');
  grad.addColorStop(1, '#026b4e');
  ctx.strokeStyle = grad;
  ctx.lineWidth = radius*0.1;
  ctx.stroke();
  ctx.beginPath();
  ctx.arc(0, 0, radius*0.1, 0, 2*Math.PI);
  ctx.fillStyle = '#026b4e';
  ctx.fill();
}

function drawNumbers(ctx, radius) {
  var ang;
  var num;
  ctx.font = radius*0.15 + "px arial";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = 1; num < 13; num++){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -radius*0.85);
    ctx.rotate(-ang);
    ctx.fillText(num.toString(), 0, 0);
    ctx.rotate(ang);
    ctx.translate(0, radius*0.85);
    ctx.rotate(-ang);
  }
}

function drawTime(ctx, radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, radius*0.5, radius*0.07);
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, radius*0.8, radius*0.07);
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, radius*0.9, radius*0.02);
}

function drawHand(ctx, pos, length, width) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.lineCap = "round";
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}

</script>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>

</html>