{% extends 'pattern2.html' %}

{% block title %}
    {{ page_title }} Bilety miesięczne
{% endblock title %}

{% block content %}
<div class="grid-container-one_col">

    <div class="item1">
        <h3 style="text-align: center; padding: 10px; box-shadow: 0px 8px 8px #888888;
            color: white; font-size:16px; background-color: #4a3079">
           <i class="fa-solid fa-ticket fa-xg" style="color: white;"></i> &nbsp;
             Bilety miesięczne ulgowe
         </h3>

        <h4 style="text-align: center">
        Informacja dla uczniów, studentów, nauczycieli  i innych osób - dla wszystkich, którzy kupują bilety miesięczne
          z ulgą ustawową
        </h4>
    </div>

    <div class="item2" style="border-left: 15px solid #026b4e; border-right: 15px solid #4a3079;">
     <div class="bilety" >

         Uprzejmie informujemy naszych pasażerów, że zakup biletu miesięcznego ulgowego wymaga wyrobienia
         spersonalizowanej karty elektronicznej. Każdy pasażer, który zamierza nabyć ulgowy bilet miesięczny,
         powinien dokonać formalności, koniecznej do wydania indywidualnej eKarty. W tym celu należy
         pobrać z naszej strony internetowej formularz, wypełnić go czytelnie i zwrócić do kierowcy. Przygotowanie karty
         trwa zwykle do 7 dni. Gotowe karty odbiera się w autobusie na właściwej linii. Karta służyć będzie do opłacania
         biletów miesięcznych zgodnie z zakodowanymi na niej informacjami, poprzez przyłożenie jej do kasy fiskalnej w
         autobusie. Karta umożliwia zakup biletu na jedną trasę i będzie działać przez czas
         nieokreślony pod warunkiem, że nie będzie przerwy pomiędzy zakupami biletów miesiecznych dłuższej niż 99 dni.
         W przeciwnym wypadku karta traci ważność i wymaga ponownego zaprogramowania. Potwierdzeniem posiadania ważnego
         biletu miesięcznego nadal są paragony z kas fiskalnych, drukowane w momencie zakupu biletu.
         Pasażerowie, poza eKartą, zobowiązani są do posiadania podczas jazdy paragonu i domunentu
         tożsamości uprawniającego do określonej ulgi.


        <p> Wydając kartę pobieramy od Pasażera kaucję w wysokości 10 zł brutto.
            Dziękujemy Państwu za współpracę i korzystanie z naszych usług.</p>

       </div>
    </div>

    <div class="item4">

    </div>
</div>

{% endblock content %}