{% extends 'pattern2.html' %}

{% block title %}
    {{ page_title }} Title
{% endblock title %}

{% block content %}
<div class="grid-container-one_col">

    <div class="item1"> </div>

 <div class="item2">

     <div class="row">
          <div class="columnindex" style="background-color:#aaa;">
           <p style="text-align: center; font-size: 20px;"> <a style="color: white;" href="/jazda/szczecinek">Szczecinek</a> </p>
          </div>

          <div class="columnindex" style="background-color:#bbb;">
            <p style="text-align: center; font-size: 20px;"> <a style="color: white;" href="/jazda/czarne">Czarne</a> </p>
          </div>
     </div>

    <div class="row">

          <div class="columnindex" style="background-color:#ccc;">
            <p style="text-align: center; font-size: 20px;"> <a style="color: white;" href="/jazda/soboty">Sobota</a> </p>
          </div>

          <div class="columnindex" style="background-color:#ddd;">
            <p style="text-align: center; font-size: 20px;"> <a style="color: white;" href="/jazda/przystanki">Przystanki</a> </p>
          </div>

    </div>

 </div>

    <div class="item4">  </div>

</div>

{% endblock content %}