{% extends 'pattern2.html' %}

{% block title %}
    {{ page_title }} Pliki
{% endblock title %}

{% block content %}
<div class="grid-container-one_col">

    <div class="item1">
        <p style="text-align: center">header</p>
    </div>

    <div class="item2">
        <h3>Download File using Django na stronie</h3>
        <a href="{% url 'jazda:downloadfile' filename='Formularz.pdf' %}">Download PDF</a>
    </div>

    <div class="item4">
     <p style="text-align: center">stopka</p>
    </div>
</div>

{% endblock content %}