{% extends 'pattern2.html' %}

{% block title %}
    {{ page_title }} Przystanek
{% endblock title %}

{% block content %}



<div class="grid-container-one_col">

    <div class="item1">
        <h3 style="text-align: center; color: #4a3079; font-size:18px">
            <i class="fa-solid fa-bus-simple" style="color: red"></i>
             {{ miasto|upper }} <br>
            <div class="tooltip">
                <span class="tooltiptext">Mapa</span>
                <a id="myBtn2" style="cursor: pointer;">

                    <i class="fa-solid fa-thumbtack" style="color: #026b4e"></i>

                </a>
            </div>
            <div id="myModal" class="modal">

                <div id="map" class="modal-content">
                    <span class="close">&times;</span>

                </div>

            </div>

             <span style="font-size: 16px">
                {{ spot|upper }} wszystkie odjazdy z przystanku &nbsp;  / &nbsp; kierunek: {{ kierunek|upper }}
             </span>
            <div id="txt">
                <span style="color: white">space</span>
            </div>
        </h3>
    </div>

    <div class="item2">
        {% for key, value_p in przystanek.items %}

            <table style="margin-left: auto; margin-right: auto; box-shadow: 10px 10px 10px #888888">
                <caption>
                     {{ key|upper }} - rozklad jazdy ważny od {{ value_p.od }}
                </caption>
                <tr>
                    <th rowspan="4" width="25px" style="background-color: #4a3079">
                        {% for item in etykieta_th %}
                            {% for i in item %}
                              <span style="font-size: 12px">  {{ i }} </span>
                            {% endfor%}
                        {% endfor%}
                    </th>
                    <th colspan="2" height="30px" >godziny</th>
                    {% for od_do in value_p.etykiety_godzin %}
                    <th align="center">  {{ od_do }}  </th>
                    {% endfor %}
                </tr>

               {% for value in value_p.przystanek.values %}
                  <tr>

                    <td height="25px">dzień powszedni</td>
                    <th rowspan=2; width=25px;> <p>m<br>i<br>n<br>u<br>t<br>y</p> </th>

                    {% for item_g in value.godzina.items %}
                             <td style="text-align: center; height=25px">
                                     {% for value in item_g %}
                                         {% if value.daily|length_is:"2" %}
                                                {% for item in value.daily %}
                                                    {{ item }}

                                                {% endfor %}
                                         {% else %}
                                            {{ value.daily }}
                                         {% endif %}

                                     {% endfor %}
                             </td>
                    {% endfor %}
                  </tr>
              {% endfor%}

              {% for key, value in value_p.przystanek.items %}
                <tr>
                     <td height="25px">sobota</td>

                    {% for item_g in value.godzina.items %}
                             <td style="text-align: center; height=25px">

                                    {% for value in item_g %}
                                         {% if value.sobota|length_is:"2" %}
                                                {% for item in value.sobota %}
                                                    {{ item }}

                                                {% endfor %}
                                         {% else %}
                                            {{ value.sobota }}
                                         {% endif %}

                                     {% endfor %}

                             </td>

                    {% endfor %}
              {% endfor %}

                </tr>

                 <tr>
                    <th colspan="{{ value_p.etykiety_godzin|length|add:2 }}" style="text-align: left; font-size: 14px;
                     background-color: #4a3079;">
                            S - kursuje w sobotę &nbsp
                      {% if zjazd %} Z - kurs do Skotnik {% endif %}

                    </th>
                </tr>
            </table>
        {% endfor %}

    </div>

    <div class="item4">

    </div>
</div>


<script>
var map;

      var latv = {{ dlugosc|escapejs|safe }};
      var lngv = {{ szerokosc|escapejs|safe }};

      function initMap() {
        const uluru = {lat: latv, lng: lngv};

        const map = new google.maps.Map(document.getElementById('map'), {
          center: uluru,
          zoom: 16
        });

        // marker
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon:"https://img.icons8.com/nolan/2x/marker.png"
        });

        // infowindow
        const detailWindow = new google.maps.InfoWindow({
            content: '<h4 style="text-align: center">BT MoNiKa <br> {{spot|escapejs|safe}}</h4>'
        });

        marker.addListener("mouseover", () => {
            detailWindow.open(map, marker);
        })

      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key|escapejs|safe}}&callback=initMap"defer></script>



{% endblock content %}




