{% extends 'pattern2.html' %}
{% load static %}

{% block title %}
    {{ page_title }} Ulgi
{% endblock title %}

{% block content %}

<div class="grid-container-one_col">
    <button onclick="topFunction()" id="myBtn" title="Go to top">do góry</button>

    <div class="item1">
        <h3 style="text-align: center; color: #4a3079; font-size:16px">Ulgi ustawowe w komunikacji autobusowej</h3>
    </div>



    <div class="item2">
    <div class="content">


    <ol>
        <li class="one">

             <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Dzieci do ukończenia 4 lat</mark> bez oddzielnego miejsca siedzącego - wysokość ulgi: 100%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 100% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, na podstawie biletów
                 jednorazowych, są uprawnione dzieci do lat 4, które nie zajmują osobnego miejsca
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Dokument stwierdzający wiek dziecka
                </dd>
            </dl>

        </li>

        <li class="two">

            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Poseł do Sejmu RP</mark> - wysokość ulgi: 100%
                </dd>
            </dl>
        </li>
        <li class="three">
            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Senator RP</mark> - wysokość ulgi: 100%
                </dd>
            </dl>
        </li>

        <li class="four">
              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Opiekun osoby niesamodzielnej</mark> - wysokość ulgi: 95%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 95% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej,
                 przyśpieszonej i pośpiesznej, na podstawie biletów jednorazowych, jest uprawniony opiekun towarzyszący w podróży
                 osobie niezdolnej do samodzielnej egzystencji.
                 (Osobie całkowicie niezdolnej do pracy i do samodzielnej egzystencji w rozumieniu przepisów o emeryturach i rentach
                 z FUS albo posiadającej znaczny stopień niepełnosprawności, bądź inwalidów I grupy)

              </dd>
            </dl>


            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                 Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>


             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Dokument potwierdzający niezdolność do samodzielnej egzystencji, znaczny stopień niepełnosprawności albo I
                    grupę inwalidzką:
                   <p> - wypis z orzeczenia komisji lekarskiej (ZUS), wojskowej komisji lekarskiej, komisji podległej MSWiA</p>
                   <p> - wypis z orzeczenia lekarza orzecznika ZUS albo rzeczoznawcy KRUS</p>
                   <p> - legitymacja osoby niepełnosprawnej wystawiona przez uprawniony organ</p>
                   <p> - legitymacja emeryta - rencisty wojskowego lub policyjnego</p>
                   <p> - zaświadczenie ZUS lub KRUS potwierdzające zaliczenie przez sąd do osób niezdolnych do samodzielnej egzystencji; o znacznym stopniu niepełnosprawności lub I grupy inwalidzkiej, na czas określony</p>

                </dd>
            </dl>

        </li>

        <li class="five">
              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Przewodnik osoby niewidomej</mark> - wysokość ulgi: 95%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 95% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej,
                 przyśpieszonej i pośpiesznej, na podstawie biletów jednorazowych, jest uprawniony opiekun towarzyszący w podróży osobie niewidomej
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Dokument potwierdzający niezdolność do samodzielnej egzystencji, znaczny stopień niepełnosprawności albo I grupę inwalidzką, stwierdzające inwalidztwo, niezdolność do pracy albo niepełnosprawność z powodu stanu narządu wzroku:
                   <p> - wypis z orzeczenia komisji lekarskiej (ZUS), wojskowej komisji lekarskiej, komisji podległej MSWiA</p>
                   <p> - wypis z orzeczenia lekarza orzecznika ZUS albo rzeczoznawcy KRUS </p>
                   <p> - legitymacja osoby niepełnosprawnej wystawiona przez uprawniony organ</p>
                   <p> - legitymacja emeryta - rencisty wojskowego lub policyjnego</p>

                </dd>
            </dl>
        </li>

        <li class="six">

               <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Opiekun inwalidy wojennego/wojskowego I grupy</mark> - wysokość ulgi: 95%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 95% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej,
                 przyśpieszonej i pośpiesznej, na podstawie biletów jednorazowych, uprawniony jest przewodnik lub opiekun
                 towarzyszący w podróży inwalidzie wojennemu/wojskowemu zaliczonemu do I grupy inwalidów
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 29.05.1974 o zaopatrzeniu inwalidów wojennych i wojskowych oraz ich rodzin (DZ.U. z 1983 Nr 13 poz. 68)
                    Ustawa z dn. 11.10.2002 o zmianie ustawy j.w. (Dz.U. z 2002 Nr 181, poz. 1515)

                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Książka inwalidy wojennego/wojskowego ze stosownym wpisem ZUS
                </dd>
            </dl>
        </li>
        <li class="seven">
                <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Funkcjonariusz Staży Granicznej</mark> na służbie - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i
                 przyspieszonej, na podstawie biletów jednorazowych, są uprawnieni umundurowani funkcjonariusze Straży Granicznej
                 w czasie wykonywania czynności służbowych związanych z ochroną granicy państwowej, a także w czasie konwojowania
                 osób zatrzymanych, służby patrolowej oraz wyk. czynności związanych z kontrolą ruchu granicznym
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                   Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Legitymacja służbowa, oraz zaświadczenie (na okaziciela) o wykonywaniu określonych czynności służbowych,
                    wystawione przez Komendanta Głównego Straży Granicznej lub właściwego komendanta oddziału Straży Granicznej
                </dd>
            </dl>
        </li>

        <li class="eight">

         <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Funkcjonariusz celny</mark> na służbie - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej,
                 na podstawie biletów jednorazowych, są uprawnieni funkcjonariusze celni w czasie wykonywania czynności służbowych kontroli
                 celnej w ruchu granicznym
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Legitymacja służbowa, oraz zaświadczenie (na okaziciela) o wykonywaniu określonych czynności służbowych,
                    wystawione przez Prezesa Głównego Urzędu Ceł, albo przez Dyrektorów Urzędów Celnych
                </dd>
            </dl>

          </li>

        <li class="nine">

                <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Umundurowany policjant</mark> na służbie - wysokość ulgi: 78%
                </dd>
            </dl>

        </li>

        <li class="ten">

             <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Żołnierz Żandarmerii Wojskowej</mark> na służbie - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej,
                    na podstawie biletów jednorazowych, są uprawnieni żołnierze Żandarmerii Wojskowej oraz wojskowych organów porządkowych
                    wykonujący czynności urzędowe patrolowania i inne czynności służbowe w środkach transportu zbiorowego
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Legitymacja służbowa, oraz zaświadczenie (na okaziciela) o wykonywaniu określonych czynności służbowych,
                     wystawione przez Komendanta Głównego Straży granicznej lub właściwego komendanta oddziału Straży Granicznej
                </dd>
            </dl>

        </li>

        <li class="eleven">

              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Dzieci i młodzież niepełnosprawna</mark> - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, przyśpieszonej
                    i pośpiesznej, na podstawie biletów jednorazowych, są uprawnione następujące osoby: dzieci i młodzież dotknięte
                    inwalidztwem lub niepełnosprawne - na podstawie biletów jednorazowych Uprawnienie to obejmuje wyłącznie przejazd
                    z miejsca zamieszkania lub miejsca pobytu do przedszkola, szkoły, szkoły wyższej, placówki opiekuńczo-wychowawczej
                    lub oświatowo-wychowawczej, specjalnego ośrodka szkolno-wychowawczego lub wychowawczego, ośrodka umożliwiającego
                    dzieciom i młodzieży spełnianie obowiązku szkolnego i nauki, ośrodka rehabilitacyjno-wychowawczego, domu pomocy
                    społecznej, ośrodka wsparcia, zakładu opieki zdrowotnej, poradni psychologiczno-pedagogicznej, a także na turnus
                    rehabilitacyjny i z powrotem
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   1. Dla uczęszczających do przedszkola, szkoły, szkoły wyższej lub innej placówki (ośrodka) oświatowego:
                      <p> &nbsp&nbsp&nbsp  a) legitymacja przedszkolna dla dziecka niepełnosprawnego </p>
                      <p> &nbsp&nbsp&nbsp b) legitymacja szkolna dla uczniów dotkniętych inwalidztwem lub niepełnosprawnych</p>
                      <p> &nbsp&nbsp&nbsp c) legitymacja szkolna albo studencka wraz z jednym z dokumentów wymienionych w pkt. 2. </p>
                   2. Dla nie uczęszczających do szkoły:
                     <p>  &nbsp&nbsp&nbsp  a) duplikat zaświadczenia lekarskiego o stanie zdrowia dziecka dla ustalenia prawa do zasiłku pielęgnacyjnego</p>
                     <p> &nbsp&nbsp&nbsp  b) legitymacja osoby niepełnosprawnej lub niepełnosprawnej, która ukończyła 16 lat wystawiona przez uprawniony organ</p>
                     <p> &nbsp&nbsp&nbsp  c) wypis z orzeczenia komisji lekarskiej ds. inwalidztwa i zatrudnienia o zaliczeniu do jednej z grup inwalidów</p>
                     <p> &nbsp&nbsp&nbsp  d) wypis z orzeczenia lekarza ZUS o całkowitej niezdolności do samodzielnej egzystencji lub o całkowitej albo częściowej niezdolności do pracy</p>

                </dd>
            </dl>
        </li>

        <li class="twelve">

              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Opiekun dzieci i młodzieży niepełnosprawnej</mark> - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, przyśpieszonej
                    i pośpiesznej, na podstawie biletów jednorazowych, są uprawnieni: <br />
                    jedno z rodziców lub opiekun dzieci i młodzieży dotkniętych inwalidztwem lub niepełnosprawnych. Uprawnienie to obejmuje
                    wyłącznie przejazd z miejsca zamieszkania lub miejsca pobytu do przedszkola, szkoły, szkoły wyższej, placówki
                    opiekuńczo-wychowawczej lub oświatowo-wychowawczej, specjalnego ośrodka szkolno-wychowawczego lub wychowawczego, ośrodka umożliwiającego dzieciom i młodzieży spełnianie obowiązku szkolnego i nauki, ośrodka rehabilitacyjno-wychowawczego, domu pomocy społecznej, ośrodka wsparcia, zakładu opieki zdrowotnej, poradni psychologiczno-pedagogicznej, a także na turnus rehabilitacyjny i z powrotem

              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   1. Dokumenty wymagane dla dziecka podczas przejazdu
                   <p>2. Przejazd po dziecko lub po jego odwiezieniu - zaświadczenie wydane przez przedszkole, szkołę, szkołę wyższą, ośrodek
                      lub placówkę oświatową albo opiekuńczo wychowawczą, bądź zaświadczenie (zawiadomienie, skierowanie) potwierdzające:</p>
                      <p> &nbsp&nbsp&nbsp   - termin i miejsce badania, leczenia, konsultacji, zajęć rehabilitacyjnych albo pobytu w Ośrodku Wsparcia, lub Domu
                          Pomocy Społecznej </p>
                        <p> &nbsp&nbsp&nbsp - stawienia się na badania, konsultację, zajęcia rehabilitacyjne, zajęcia terapeutyczne </p>

                </dd>
            </dl>


        </li>

        <li class="thirteen">

              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Inwalida wojenny/wojskowy I grupy</mark> - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                 Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, przyśpieszonej i pośpiesznej,
                    na podstawie biletów jednorazowych, są uprawnieni inwalidzi wojenni/wojskowi zaliczeni do I grupy inwalidów
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                   Ustawa z dnia 29.05.1974 o zaopatrzeniu inwalidów wojennych i wojskowych oraz ich rodzin (DZ.U. z 1983 Nr 13 poz. 68)
                    Ustawa z dn. 11.10.2002 o zmianie ustawy j.w. (Dz.U. z 2002 Nr 181, poz. 1515)

                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Książka inwalidy wojennego/wojskowego ze stosownym wpisem ZUS
                </dd>
            </dl>
        </li>

        <li class="fourteen">

              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Żołnierz służby zasadniczej</mark> - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej, na podstawie
                    biletów jednorazowych, są uprawnieni żołnierze odbywający niezawodową służbę wojskową, z wyjątkiem służby okresowej i nadterminowej,
                    oraz osoby spełniające obowiązek tej służby w formach równorzędnych
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Książeczka wojskowa z aktualnym wpisem o odbywaniu niezawodowej służby wojskowej
                </dd>
            </dl>
        </li>
        <li class="fiveteen">

              <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Dzieci do ukończenia 4 lat</mark>, zajmujące osobne miejsce - wysokość ulgi: 78%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej,
                   na podstawie biletów jednorazowych, są uprawnione dzieci do lat 4 zajmujące osobne miejsce
              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Dokument stwierdzający wiek dziecka
                </dd>
            </dl>
        </li>
        <li class="sixteen">

             <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Osoba niesamodzielna</mark> - wysokość ulgi: 49%
                </dd>
            </dl>

            <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 49% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, na podstawie
                    biletów jednorazowych, są uprawnione osoby niezdolne do samodzielnej egzystencji (Osoby całkowicie niezdolne do pracy i
                    do samodzielnej egzystencji w rozumieniu przepisów o emeryturach i rentach z FUS albo posiadające znaczny stopień
                    niepełnosprawności, bądź inwalidów I grupy)

              </dd>
            </dl>

            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>

             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Dokument potwierdzający niezdolność do samodzielnej egzystencji, znaczny stopień niepełnosprawności albo I grupę inwalidzką:
                   <p> &nbsp&nbsp&nbsp  - wypis z orzeczenia komisji lekarskiej (ZUS), wojskowej komisji lekarskiej, komisji podległej MSWiA<p />
                   <p> &nbsp&nbsp&nbsp   - wypis z orzeczenia lekarza orzecznika ZUS albo rzeczoznawcy KRUS<p />
                   <p> &nbsp&nbsp&nbsp   - legitymacja osoby niepełnosprawnej wystawiona przez uprawniony organ<p />
                   <p> &nbsp&nbsp&nbsp   - legitymacja emeryta - rencisty wojskowego lub policyjnego<p />

                </dd>
            </dl>
        </li>

        <li class="seventeen">

            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Dziecko w wieku 4-6 lat</mark> - wysokość ulgi: 37%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 37% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej,
                    na podstawie biletów jednorazowych, są uprawnione dzieci w wieku powyżej 4 lat do rozpoczęcia nauki odbywania
                    obowiązkowego rocznego przygotowania przedszkolnego
              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    <p> 1. Dokument stwierdzający wiek dziecka</p>
                    <p> 2. Zaświadczenie o odroczeniu spełniania obowiązku szkolnego, wydane przez dyrektora publicznej szkoły podstawowej</p>
                    <p> 3. Legitymacja przedszkolna dla dziecka niepełnosprawnego</p>

                </dd>
            </dl>
        </li>

        <li class="eighteen">

            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Osoba niewidoma</mark> nie uznana, za niezdolną do samodzielnej egzystencji - wysokość ulgi: 37%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
               Do ulgi 37% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, przyśpieszonej i
                    pośpiesznej, na podstawie biletów jednorazowych, są uprawnione osoby niewidome, jeśli nie zostały uznane za osoby
                    niezdolne do samodzielnej egzystencji
              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Dokument stwierdzający inwalidztwo, niezdolność do pracy albo niepełnosprawność z powodu stanu narządu wzroku:
                     <p> &nbsp&nbsp&nbsp     - wypis z orzeczenia komisji lekarskiej (ZUS), wojskowej komisji lekarskiej, komisji podległej MSWiA<p />
                     <p> &nbsp&nbsp&nbsp     - wypis z orzeczenia lekarza orzecznika ZUS albo rzeczoznawcy KRUS<p />
                     <p> &nbsp&nbsp&nbsp     - legitymacja osoby niepełnosprawnej wystawiona przez uprawniony organ<p />
                     <p> &nbsp&nbsp&nbsp     - legitymacja emeryta - rencisty wojskowego lub policyjnego<p />
                     <p> &nbsp&nbsp&nbsp     - zaświadczenie ZUS lub KRUS potwierdzające zaliczenie do II lub III grupy inwalidzkiej<p />

                </dd>
            </dl>
        </li>

        <li class="nineteen">

            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Inwalida wojenny/wojskowy II i III grupy</mark> - wysokość ulgi: 37%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
               Do ulgi 37% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej, na podstawie
                    biletów jednorazowych, są uprawnieni inwalidzi wojenni/wojskowi zaliczeni do II i III grupy inwalidów
              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                   Ustawa z dnia 29.05.1974 o zaopatrzeniu inwalidów wojennych i wojskowych oraz ich rodzin (DZ.U. z 1983 Nr 13 poz. 68) <br />
                   Ustawa z dn. 11.10.2002 o zmianie ustawy j.w. (Dz.U. z 2002 Nr 181, poz. 1515)

                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                  Książka inwalidy wojennego/wojskowego
                </dd>
            </dl>
        </li>
        <li class="twenty">

            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Kombatant będący emerytem, rencistą, inwalidą</mark> - wysokość ulgi: 51%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 51% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, przyśpieszonej, na podstawie
                    biletów, są uprawnieni kombatanci i inne osoby uprawnione, będące jednocześnie: emerytem, rencistą lub inwalidą
              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 24.01.1991 o kombatantach oraz niektórych osobach będących ofiarami represji wojennych i okresu powojennego
                    (Dz. U. nr 17 poz. 75 ) z późniejszymi zmianami

                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Legitymacja lub zaświadczenie o uprawnieniach, zaopatrzone w nadruk lub stempel o uprawnieniu do przejazdu z ulgą
                </dd>
            </dl>
        </li>
    </ol>








    <ol class="round">
        <li class="one">
            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Dzieci i młodzież niepełnosprawna</mark> - wysokość ulgi: 78%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 78% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, przyśpieszonej i pośpiesznej,
                    na podstawie biletów miesięcznych, są uprawnione następujące osoby: dzieci i młodzież dotknięte inwalidztwem lub niepełnosprawne -
                   na podstawie biletów jednorazowych Uprawnienie to obejmuje wyłącznie przejazd z miejsca zamieszkania lub miejsca pobytu do przedszkola,
                    szkoły, szkoły wyższej, placówki opiekuńczo-wychowawczej lub oświatowo-wychowawczej, specjalnego ośrodka szkolno-wychowawczego lub
                    wychowawczego, ośrodka umożliwiającego dzieciom i młodzieży spełnianie obowiązku szkolnego i nauki, ośrodka
                    rehabilitacyjno-wychowawczego, domu pomocy społecznej, ośrodka wsparcia, zakładu opieki zdrowotnej, poradni
                    psychologiczno-pedagogicznej, a także na turnus rehabilitacyjny i z powrotem
              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    1. Dla uczęszczających do przedszkola, szkoły, szkoły wyższej lub innej placówki (ośrodka) oświatowego:
                    <p> &nbsp&nbsp&nbsp    a) legitymacja przedszkolna dla dziecka niepełnosprawnego</p>
                    <p> &nbsp&nbsp&nbsp    b) legitymacja szkolna dla uczniów dotkniętych inwalidztwem lub niepełnosprawnych</p>
                    <p> &nbsp&nbsp&nbsp   c) legitymacja szkolna albo studencka wraz z jednym z dokumentów wymienionych w pkt. 2</p>
                    2. Dla nie uczęszczających do szkoły:
                     <p> &nbsp&nbsp&nbsp   a) duplikat zaświadczenia lekarskiego o stanie zdrowia dziecka dla ustalenia prawa do zasiłku pielęgnacyjnego </p>
                     <p> &nbsp&nbsp&nbsp   b) legitymacja osoby niepełnosprawnej lub niepełnosprawnej, która ukończyła 16 lat wystawiona przez uprawniony organ</p>
                     <p> &nbsp&nbsp&nbsp   c) wypis z orzeczenia komisji lekarskiej ds. inwalidztwa i zatrudnienia o zaliczeniu do jednej z grup inwalidów </p>
                     <p> &nbsp&nbsp&nbsp  d) wypis z orzeczenia lekarza ZUS o całkowitej niezdolności do samodzielnej egzystencji lub o całkowitej albo częściowej
                             niezdolności do pracy</p>

                </dd>
            </dl>
        </li>

        <li class="two">
            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Uczniowie do ukończenia 24 i studenci do ukończenia 26 roku życia</mark> - wysokość ulgi: 49%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 49% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej i przyśpieszonej, na podstawie biletów miesięcznych, są uprawnione następujące osoby:
                 <p> &nbsp&nbsp&nbsp   1) dzieci i młodzież w okresie od rozpoczęcia obowiązkowego przygotowania rocznego przedszkolnego do czasu ukończenia szkoły
                    ponadpodstawowej publicznej lub niepublicznej o uprawnieniach szkoły publicznej, nie dłużej niż do ukończenia 24 roku życia</p>
                  <p> &nbsp&nbsp&nbsp  2) studenci do ukończenia 26 roku życia</p>

              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Aktualna legitymacja szkolna lub studencka
                </dd>
            </dl>

        </li>

        <li class="three">
            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Nauczyciele szkół podstawowych, gimnazjalnych, ponadgimnazjalnych i akademiccy</mark> - wysokość ulgi: 37%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
               Do ulgi 37% przy przejazdach środkami publicznego transportu zbiorowego autobusowego w komunikacji zwykłej, na podstawie biletów
                    miesięcznych, są uprawnione następujące osoby:
                  <p>  1) nauczyciele szkół podstawowych, gimnazjów, szkół ponadpodstawowych i ponadgimnazjalnych - publicznych lub niepublicznych o
                        uprawnieniach szkół publicznych </p>
                  <p>  2) nauczyciele akademiccy</p>

              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                    Legitymacja nauczyciela lub nauczyciela akademickiego
                </dd>
            </dl>
        </li>

        <li class="four">
            <dl>
                <dt>
                    Rodzaj ulgi:
                </dt>
                <dd>
                      <mark>Osoby niewidome</mark> - wysokość ulgi: 37%
                </dd>
            </dl>
                      <dl>
                <dt>
                    Opis ulgi:
                </dt>
               <dd>
                Do ulgi 37% przy przejazdach środkami publicznego transportu autobusowego, na podstawie biletów miesięcznych imiennych, są uprawnione
                    osoby niewidome, jeśli nie zostały uznane za osoby niezdolne do samodzielnej egzystencji
              </dd>
            </dl>
            <dl>
                <dt>
                    Podstawa prawna:
                </dt>
                <dd>
                    Ustawa z dnia 20.06.2002 o uprawnieniach do ulgowych przejazdów środkami publicznego transportu zbiorowego
                    (Dz.U. Nr 112 poz. 977 z 20.07.2002)
                </dd>
            </dl>
             <dl>
                <dt>
                    Dokument potwierdzający uprawnienie do przejazdu ulgowego:
                </dt>
                <dd>
                   Dokument stwierdzający inwalidztwo, niezdolność do pracy albo niepełnosprawność z powodu stanu narządu wzroku:
                  <p> &nbsp&nbsp&nbsp  - wypis z orzeczenia komisji lekarskiej (ZUS), wojskowej komisji lekarskiej, komisji podległej MSWiA</p>
                 <p> &nbsp&nbsp&nbsp   - wypis z orzeczenia lekarza orzecznika ZUS albo rzeczoznawcy KRUS</p>
                  <p> &nbsp&nbsp&nbsp  - legitymacja osoby niepełnosprawnej wystawiona przez uprawniony organ</p>
                 <p> &nbsp&nbsp&nbsp   - legitymacja emeryta - rencisty wojskowego lub policyjnego</p>
                <p> &nbsp&nbsp&nbsp    - zaświadczenie ZUS lub KRUS potwierdzające zaliczenie do II lub III grupy inwalidzkiej</p>

                </dd>
            </dl>
        </li>
    </ol>



     <h3>Podstawa prawna udzielenia ulgi:</h3>
    <dl>

                <dd>
                    	Ulgi udziela się po poświadczeniu uprawnienia do niej stosownym dokumentem, w trakcie podróży - po zakończeniu podróży na
                        podstawie biletu normalnego roszczenie do ulgi nie przysługuje. Ulg przysługujących z różnych tytułów nie sumuje się.
                </dd>
     </dl>
     <dl>
                <dd>
                    	Wszelkie dokumenty nie mające charakteru legitymacji (wypisy z treści orzeczeń komisji lekarskich, orzeczeń lekarzy orzeczników
                        ZUS; KRUS oraz inne) są ważne wyłącznie wraz z dowodem osobistym lub innym dokumentem umożliwiającym stwierdzenie tożsamości osoby
                        uprawnionej.
                </dd>
         </dl>
    <dl>
                <dd>
                    	Opiekunem lub przewodnikiem może być wyłącznie jedna osoba pełnoletnia.
                </dd>
        </dl>
    <dl>
                <dd>
                    	Przewodnikiem niewidomego może być osoba, która ukończyła 13 lat albo pies - przewodnik.
                </dd>
            </dl>


    </div>
    </div>

</div>



{% endblock content %}


  

 
